<nav class="navback" ng-click="openPage('home')">&#62725</nav>
<div class="chat fullheight">
	<div class="avatar">
		<img src="images/child.svg" />
		<div class="profile">
			<h4>Child</h4><span>Uchala Chris</span>
		</div>
	</div>
	<ul>
		<li class="me">
			<p><span>Hello madam Alice</span>Care Giver<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li>
			<p><span>Hello madam Laura</span>Parent<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li class="me">
			<p><span>I hope you are doing great! I need to inform you about an incredibly positive thing that Chris did in school today.</span>Care Giver<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li>
			<p><span>Wow!!! What happened please? Can’t wait to hear the news!</span>Parent<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li class="me">
			<p><span>Today Chris was able to have his lunch independently without any assistance…it was so amazing - I will share the video with you soon.</span>Care Giver<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li>
			<p><span>I am ver very happy to hear this. I believe the sunrise therapy is working well for him. Let’s keep monitoring his behaviour.</span>Parent<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li class="me">
			<p><span>Yes I will keep you informed on his abilities and challenges. All the best madam Alice.</span>Care Giver<br><b>7/10/16 - 2:30</b></p>
		</li>
		<li>
			<p><span>Thank you madam Laura, Have a nice day!</span>Parent<br><b>7/10/16 - 2:30</b></p>
		</li>
	</ul>
</div>

<textarea class="chattextbox"></textarea>

<div class="bottomtabs"><a ng-click="openPage('child')"><i>&#61487</i>Stats</a><a class="active" ng-click="openPage('chat')"><i>&#61794</i>Chat</a><a ng-click="openPage('home')"><i>&#61606</i>Network</a></div>
