<nav class="navback" ng-click="openPage('home')">&#62725</nav>
<div class="child fullheight">
	<div class="avatar">
		<img src="images/child.svg" />
		<div class="profile">
			<h4>Child</h4><span>Uchala Chris</span>
			<h4>Parent</h3><span>Ontberg Deyeko</span>
				<h4>Care Giver</h4><span>Susan Chayki</span>
		</div>
	</div>
	<ul class="gameinterest">
		<li>
			<h4>Games Played</h4>
		</li>
		<li><i>&#63012</i>My Rabbit <b>20</b></li>
		<li><i>&#62372</i>My Taxi <b>17</b></li>
		<li><i>&#61917</i>My Toys <b>17</b></li>
	</ul>
	<ul>
		<li>
			<h4>Colors Interested</h4>
		</li>
		<li class="colorinterest">
			<chartinterest></chartinterest>
		</li>
	</ul>
	<ul class="shapesinerate">
		<li>
			<h4>Shapes Inerate</h4>
		</li>
		<li>
			<span><img src="images/penta.svg"/><b>10</b></span>
			<span><img src="images/recta.svg"/><b>6</b></span>
			<span><img src="images/circle.svg"/><b>2</b></span>
			<span><img src="images/tria.svg"/><b>1</b></span>
		</li>
	</ul>
	<ul>
		<li>
			<h4>Good Performance on:</h4>
		</li>
		<li>Color Matching</li>
		<li>Counting & Numbers</li>
	</ul>
	<ul>
		<li>
			<h4>Calm down hyper</h4>
		</li>
		<li>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok.</li>
	</ul>

</div>
<!--<div class="bottomtabs"><a ng-click="openPage('child')" class="active"><i>&#61487</i>Stats</a><a ng-click="openPage('chat')"><i>&#61794</i>Chat</a><a ng-click="openPage('home')"><i>&#61606</i>Network</a></div>-->
<div class="bottomtabs"><a ng-click="openPage('child')" class="active"><i>&#61487</i>Stats</a><a ng-click="openPage('chat')"><i>&#61794</i>Chat</a><a ng-click="openPage('home')"><i>&#62918</i>Feeds</a></div>
