<nav class="navback" ng-click="openPage('main')">&#62725</nav>
<div class="home">
	<img src="images/5.svg" usemap="autimatemap" />
	<nav class="mappp">
		<div ng-click="openPage('stat')"></div>
		<div ng-click="openPage('message')"></div>
	</nav>
</div>
