<div class="rabbitGame rabbitCount fullheight ">
	<div class="rabbit-cnt">
		<img ng-click="openPage('rabbit_feeling')" src="images/rabbitNumber1.svg" />
		<img src="images/rabbitNumber2.svg" />
		<img src="images/rabbitNumber3.svg" />
	</div>
	<div><img src="images/rabbitNumber.svg" /><img src="images/rabbitNumber1.svg" /></div>
</div>
