<div class="rabbitGame rabbitActivity fullheight ">
	<div class="rabbit-cnt">
		<img src="images/rabbitVegetable2.svg"/>
		<img ng-click="openPage('rabbit_shape')" src="images/rabbitVegetable1.svg"/>
		<img src="images/rabbitVegetable3.svg"/>
	</div>
	<div>
		<img src="images/rabbitVegetable.svg"/>
		<img src="images/rabbitVegetable1.svg"/>
	</div>
</div>
