<div class="rabbitGame rabbitShape fullheight ">
	<div class="rabbit-cnt">
		<img src="images/rabbitShape2.svg"/>
		<img ng-click="openPage('rabbit_count')" src="images/rabbitShape1.svg"/>
	</div>
	<div class="anim"><img src="images/rabbitShape1.svg"/></div>
</div>
