<div class="rabbitGame rabbitColor fullheight ">
	<div class='rabbit-cnt'>
		<img ng-click="openPage('rabbit_activity')" src="images/rabbitColor1.svg"/>
		<img src="images/rabbitColor2.svg"/>
	</div>
	<div class="anim">
		<img src="images/rabbitColor1.svg"/>
	</div>
</div>
