<div class="rabbitGame rabbitFeeling fullheight ">
	<div class="rabbit-cnt">
		<img ng-click="openPage('games')" src="images/rabbitFeeling1.svg"/>
		<img src="images/rabbitFeeling2.svg"/>
	</div>
	<div>
		<img src="images/rabbitFeeling.svg"/>
		<img src="images/rabbitFeeling3.svg" />
	</div>
</div>
