				@font-face {
					font-family: icons;
					src: url(icons.woff);
				}
				
				html,
				body {
					margin: 0;
					padding: 0;
					height: 100%;
					font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
					color: #747474;
				}
				
				ul,
				li {
					list-style: none;
					margin: 0;
					padding: 0;
				}
				
				i {
					font-family: 'icons';
					font-style: normal;
				}
				
				::-webkit-scrollbar {
					width: 8px;
					height: 8px;
					background: transparent
				}
				
				::-webkit-scrollbar-thumb {
					border-radius: 8px;
					background: rgba(0, 0, 0, 0.15)
				}
				
				::-webkit-scrollbar-thumb:hover {
					background: rgba(0, 0, 0, 0.5)
				}
				
				.wrapper {
					background: url("phone.svg") no-repeat;
					width: 22rem;
					background-size: 22rem;
					margin: auto;
					box-sizing: border-box;
					padding: 3.92rem 0.98rem 6rem;
					min-height: 45rem;
				}
				
				@media (max-width: 600px) {
					.wrapper {
						background: none;
						width: 100%;
						min-height: 100%;
						padding: 0;
						margin: 0;
					}
					.fullheight {
						height: 100% !important;
					}
				}
				/*Home*/
				
				.home {
					text-align: center;
				}
				
				.home img {
					width: 100%;
				}
				
				.home form {
					margin: 3rem 2rem;
					border: solid 0.16rem #357af5;
					border-radius: 0.5rem;
					overflow: hidden;
				}
				
				.home div {
					display: flex;
					justify-content: space-between;
				}
				
				.home input {
					width: 100%;
					border: none;
					font-size: 1.2rem;
					padding: 0.2rem 1rem;
					box-sizing: border-box;
				}
				
				.home input:first-of-type {
					border-bottom: solid 0.16rem #357af5;
				}
				
				.home button {
					color: white;
					background: #357af5;
					border: none;
					width: 100%;
					box-sizing: padding-box;
					font-size: 1rem;
					padding: 0.3rem 0;
				}
				
				.home button:not(:first-of-type) {
					border-left: solid 0.14rem;
				}
				
				.container {
					position: relative;
				}
				
				.child.fullheight {
					overflow-y: auto;
					padding-bottom: 3rem;
					box-sizing: border-box;
				}
				
				.fullheight {
					height: 34.5rem;
					/*overflow-y: auto;*/
					position: relative;
					background: white;
				}
				
				.game {
					background: url("bg.svg") no-repeat;
					background-size: 20.2rem;
				}
				
				.games {
					text-align: center;
					color: white;
					background: #00aeff;
				}
				
				.games div {
					padding: 1.8rem 0;
				}
				
				.games img {
					width: 34%;
				}
				
				.games div:first-of-type {
					border-bottom: dashed 0.2rem #53d7f5;
				}
				
				.games h3 {}
				
				.child {}
				
				.child .avatar {
					background: #357af5;
					color: white;
					overflow: hidden;
					position: relative;
					box-sizing: border-box;
					padding: 0.4rem 1rem;
				}
				
				.child .avatar img {
					width: 25%;
				}
				
				.child .avatar h4 {
					margin: 0;
					font-size: 0.9rem;
					padding-top: 0.6rem;
				}
				
				.child .avatar span {
					font-size: 0.8rem;
				}
				
				.child .profile {
					width: 75%;
					float: right;
					padding-left: 2rem;
					box-sizing: border-box;
					line-height: 0.8rem;
				}
				
				.child>ul {
					padding: 0.4rem 1.6rem
				}
				
				.child>ul h4 {
					margin: 0.4rem 0;
					color: black;
				}
				
				.child>ul.gameinterest b {
					float: right;
				}
				
				.child>ul.gameinterest i {
					padding-right: 0.6rem;
					color: #357AF5;
				}
				
				.child>ul.shapesinerate li {
					display: flex;
				}
				
				.child>ul.shapesinerate img {
					width: 80%;
				}
				
				.child>ul.shapesinerate span {
					width: 25%;
					display: flex;
					position: relative;
				}
				
				.child>ul.shapesinerate b {
					left: 25%;
					position: absolute;
					top: 43%;
					color: #629684;
				}
				
				.bottomtabs {
					position: absolute;
					bottom: 0;
					width: 100%;
				}
				
				.bottomtabs a {
					width: 33.33%;
					display: inline-block;
					text-align: center;
					background: #d139d1;
					color: white;
					padding: 0.4rem 0;
				}
				
				.bottomtabs .active {
					background: #780e78;
				}
				
				.rabbitGame {
					background: url("garden.svg") no-repeat;
					background-size: 100%;
				}
				
				.colorinterest,
				.colorinterest div {
					overflow: hidden
				}
				
				.rabbitColor div:nth-child(1) img,
				.rabbitShape div:nth-child(1) img,
				.rabbitFeeling div:nth-child(1) img {
					width: 28%;
					text-align: center;
					padding: 3rem 2rem;
				}
				
				.rabbitColor div:nth-child(2),
				.rabbitShape div:nth-child(2) {
					text-align: center;
				}
				
				.rabbitColor div:nth-child(2) img,
				.rabbitShape div:nth-child(2) img {
					width: 50%;
					text-align: center;
					padding-top: 5rem;
					animation: 0.5s linear 0s infinite alternate bounce;
				}
				
				@keyframes bounce {
					from {
						transform: scale(0.8);
					}
					to {
						transform: scale(1);
					}
				}
				
				.rabbitActivity div:nth-child(1) img,
				.rabbitCount div:nth-child(1) img {
					width: 20%;
					text-align: center;
					padding: 3rem 1.2rem;
				}
				
				.rabbitActivity div:nth-child(2),
				.rabbitCount div:nth-child(2),
				.rabbitFeeling div:nth-child(2) {
					text-align: center;
					position: relative;
				}
				
				.rabbitActivity div:nth-child(2) img:nth-child(1) {
					width: 60%;
					padding-top: 8rem;
				}
				
				.rabbitActivity div:nth-child(2) img:nth-child(2) {
					position: absolute;
					width: 20%;
					top: 5rem;
					right: 8rem;
					animation: 0.5s linear 0s infinite alternate bounce;
				}
				
				.rabbitCount div:nth-child(2) img:nth-child(1) {
					width: 50%;
					padding-top: 2rem;
				}
				
				.rabbitCount div:nth-child(2) img:nth-child(2) {
					position: absolute;
					width: 25%;
					top: 52%;
					left: 38%;
					animation: 0.5s linear 0s infinite alternate bounce;
				}
				
				.rabbitFeeling div:nth-child(2) img:nth-child(1) {
					width: 50%;
					text-align: center;
					padding-top: 2rem;
				}
				
				.rabbitFeeling div:nth-child(2) img:nth-child(2) {
					position: absolute;
					width: 25%;
					top: 68%;
					left: 36%;
					animation: 0.5s linear 0s infinite alternate bounce;
				}
				
				.chat .avatar {
					background: #357af5;
					color: white;
					overflow: hidden;
					position: relative;
					box-sizing: border-box;
					padding: 0.4rem 1rem;
				}
				
				.chat .avatar img {
					width: 10%;
				}
				
				.chat .avatar h4 {
					margin: 0;
					font-size: 0.9rem;
					padding-top: 0.6rem;
				}
				
				.chat .avatar span {
					font-size: 0.8rem;
				}
				
				.chat .profile {
					width: 75%;
					float: right;
					padding-left: 2rem;
					box-sizing: border-box;
					line-height: 0.8rem;
				}
				
				.chat>ul {
					padding: 0.4rem 1rem;
					margin-bottom: 8rem;
				}
				
				.chat li {
					overflow: hidden;
				}
				
				.chat .me {}
				
				.chat p {
					font-size: 0.9rem;
					padding: 0.4rem 0;
				}
				
				.chat .me p {}
				
				.chat li span {
					display: inline-block;
					border-radius: 0.5rem;
					background: #ffdcc4;
					padding: 0.2rem 0.4rem;
					font-size: 0.9rem;
					width: 60%;
					float: left;
				}
				
				.chat .me span {
					float: right;
					background: #c9f9fe
				}
				
				.chat b {
					font-size: 0.6rem;
				}
				
				.chattextbox {
					position: absolute;
					bottom: 2.2rem;
					box-sizing: border-box;
					width: 96%;
					border: solid 0.2rem lightgray;
					height: 4rem;
					background: white;
				}
				
				.chat.fullheight {
					overflow-y: auto;
				}
				
				.navback {
					position: absolute;
					z-index: 9;
					font-family: 'icons';
					top: 1rem;
					left: 1rem;
					font-size: 1.4rem;
				}
				
				@media (max-width: 800px) {
					.wrapper {
						background: none;
						width: 100%;
						min-height: 100%;
						padding: 0;
						margin: 0;
					}
					.fullheight {
						height: 100% !important;
					}
					.rabbit-cnt {
						display: flex;
						justify-content: space-between;
					}
					.rabbit-cnt img {
						width: 100%;
						height: 20%;
					}
				}
				
				.mappp {
					height: 100%;
					width: 100%;
					position: absolute;
					z-index: 4;
					top: 0;
				}
				
				.mappp div { height: 50%;}
